## 4.7: Deriving New Variables

### This script includes the following points:
##### Step 1a. Create “price_label” column.

##### Step 1b. Create "busiest_day" column.

##### Step 2. Update "busiest day" column to "busiest days" to identify order day of the week as "Busiest days," "Slowest days," or "Regularly busy."

##### Step 3. Check values of new "busiest days" column for accuracy with observations in markdown format.

##### Step 4. Create new column "busiest_period_of_day" to identify time periods “Most orders,” “Average orders,” and “Fewest orders.”

##### Step 5. Print frequency of "busiest_period_of_day" column.

##### Step 7. Export dataframe as a pickle file to “Prepared Data” folder.

In [153]:
#Importing Libraries
import pandas as pd
import numpy as nd
import os

In [154]:
#Turn project folder path into a string
path = r'C:\Users\ankit\Desktop\DataAnalysisCF\DataImmersion\PythonFundamentals\Instacart Basket Analysis\02 Data'

In [155]:
#Importing Dataframe
df_ords_prods_merge = pd.read_pickle(os.path.join(path,'Prepared Data','ords_prods_merge.pkl'))

### Step 1a. Create "price_label" column.

In [157]:
#Creating a subset of first 1 million rows
df = df_ords_prods_merge[:1000000]

In [158]:
df.shape

(1000000, 15)

In [159]:
# Define a function for price labels
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [160]:
# Apply price range function.
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\ankit\AppData\Local\Temp\ipykernel_11988\3431473277.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [161]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    652638
Low-range product    338018
High range             9344
Name: count, dtype: int64

In [162]:
df['prices'].max()

24.5

In [187]:
# Use loc() method on df subset to apply price range function.
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [164]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [165]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [166]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     652638
Low-range product     338018
High-range product      9344
Name: count, dtype: int64

In [167]:
# Use loc() method on entire ords_prods_merge dataframe to apply price range function.

df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [168]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [169]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [170]:
df_ords_prods_merge['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [171]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge,price_range_loc
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product

### Step 1b. Create "busiest_day" column.

In [173]:
# Find frequency of orders_day_of_week.

df_ords_prods_merge['order_day_of_week'].value_counts(dropna = False)

order_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [174]:
# Use for-loop to determine whether orders are on "busiest day" (0 = Saturday), "least busy" (4 = Wednesday), or "regularly busy" (other days of the week).

result =[]

In [175]:
for value in df_ords_prods_merge['order_day_of_week']:
    if value == 0 :
        result.append("Busiest Day")
    elif value == 4 :
        result.append("Least Busy")
    else : result.append("Regularly Busy")

In [176]:
# Create new column in ords_prods_merge to view results in context.

df_ords_prods_merge['busiest_day'] = result

In [177]:
# Check the newly added column
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly Busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly Busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product,Busiest Day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Regularly Busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product,Least Busy

In [178]:
# Check the frequency of busiest_day column
df_ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly Busy    22416875
Busiest Day        6204182
Least Busy         3783802
Name: count, dtype: int64

### 2. Step 2. Update "busiest day" column to "busiest days" to identify order day of the week as "Busiest days," "Slowest days," or "Regularly busy."

In [180]:
# Create column “busiest_days" from "orders_day_of_week" to identify two busiest days (0, 1), slowest days (4, 3), or regularly busy (all other days).

results = []

In [181]:
for value in df_ords_prods_merge['order_day_of_week']:
    if (value == 0 or value == 1) :
     results.append("Busiest Days")
    elif (value == 3 or value == 4) :
     results.append("Least Busy Days")
    else : results.append("Regularly Busy Days")

In [182]:
# Create new 'busiest_days' column in ords_prods_merge dataframe

df_ords_prods_merge['busiest_days'] = results

In [183]:
# Check output of ords_prods_merge with new "busiest days" column.

df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly Busy,Regularly Busy Days
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly Busy,Regularly Busy Days
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product,Busiest Day,Busiest Days
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Regularly Busy,Least Busy Days
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product,Least Busy,Least Busy Days

### 3.Check the values of this new column for accuracy.

In [185]:
df_ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly Busy Days    12916111
Busiest Days           11864412
Least Busy Days         7624336
Name: count, dtype: int64

#### The count of Busiest Days and Least Busy Days has increased as 2 days of the week are considered and Regularly Busy Days count has decreased.

### 4. Create a new column busiest_period_of_day to identify time periods “Most orders,” “Average orders,” and “Fewest orders.”

In [191]:
# Check value counts in "order_hour_of_day" column.

df_ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

##### The value counts listed above will be split into equal thirds for the following labels: "Most orders" = 10, 11, 14, 15, 13, 12, 16, and 9; "Fewest orders" = 23, 6, 0, 1, 5, 2, 4, and 3; "Average orders" = all remaining values in order_hour_of_day.

In [193]:
# Create for-loop if statement labeling periods of time as “Most orders,” “Average orders,” and “Fewest orders.”

res = []

for value in df_ords_prods_merge['order_hour_of_day']:
    if value in (10,11,14,15,13,12,16,9) :
        res.append("Most orders")
    elif value in (23,6,0,1,5,2,4,3) :
        res.append("Fewest orders")
    else : res.append("Average orders")

In [195]:
## Create new column "busiest_period_of_day" in ords_prods_merge.

df_ords_prods_merge['busiest_period_of_day'] = res

In [197]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly Busy,Regularly Busy Days,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly Busy,Regularly Busy Days,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product,Busiest Day,Busiest Days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Regularly Busy,Least Busy Days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product,Least Busy,Least Busy Days,Average orders

### 5.Print the frequency for this new column.

In [199]:
## Print value counts in "busiest_period_of_day" column.

df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

## Step 7. Export dataframe as a pickle file to “Prepared Data” folder.

In [201]:
df_ords_prods_merge.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_merged_derived.pkl'))